<div class="w-full h-screen absolute top-0 left-0 flex flex-col items-center justify-center bg-zinc-800">
    <image src="/icon.svg" class="w-[30vw] mb-10"/>
    <h2 class="text-[var(--primary)]" > <%= link_to "Log In", new_user_registration_path %>
</div>